<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

<h1>Main page</h1>

<form method="get" th:action="@{/index}">

    <button class="btn btn-primary" type="submit">All offers</button>

</form>


<form method="get" th:action="@{/index/location}" th:object="${locationDto}">

    <label>
        Name of the city to filter by (or zdalna):
        <input type="text" th:field="*{location}"/>
    </label>
    <button class="btn btn-primary" type="submit">Get offers</button>

</form>

<form method="get" th:action="@{/index/salary}" th:object="${salaryDto}">

    <label>
        Min salary:
        <input type="number" th:field="*{minSalary}"/>
    </label>
    <label>
        Max Salary:
        <input type="number" th:field="*{maxSalary}"/>
    </label>
    <button class="btn btn-primary" type="submit">Get offers</button>

</form>
</body>
</html>