<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Main page</title>
</head>
<body>


<section class="hero is-small is-success">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Welcome to Junior Java Developer Job Offer Scraper
            </p>
        </div>
    </div>
</section>


<section class="section">
    <form method="get" th:action="@{/}">

        <h2 class="title is-2 has-text-centered" th:text="'Today there are ' + ${offers.size} + ' potential offers'"></h2>

        </div>
        <div class="buttons is-centered">
            <button class="button is-success is-rounded is-large" type="submit">All offers</button>
        </div>
    </form>
</section>

<div class="container is-centered">
    <div class="container has-text-centered">
        <form method="get" th:action="@{/listOffers}" th:object="${filterParamsDto}">


            <label>
                <input class="input is-primary is-medium has-text-centered" type="text" placeholder="City name / zdalna"
                       th:field="*{location}"/>
            </label>

            <label>
                <input class="input is-primary is-medium has-text-centered" type="number" placeholder="Minimum salary"
                       th:field="*{minSalary}"/>
            </label>
            <label>
                <input class="input is-primary is-medium has-text-centered" type="number" placeholder="Maximum salary"
                       th:field="*{maxSalary}"/>
            </label>
            <div>
                <button class="button is-success is-rounded is-medium" type="submit">Get offers</button>
            </div>
        </form>
    </div>
</div>

<section class="section">
    <div class="columns is-centered">
        <div class="column is-narrow">
            <table class="table is-striped is-hoverable is-narrow">
                <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Minimum Salary</th>
                    <th>Maximum Salary</th>
                    <th>Link</th>
                </tr>
                </thead>
                <tfoot>
                <tr th:each="offer: ${offers}">
                    <td th:text="${offer.title}"></td>
                    <td th:text="${offer.company}"></td>
                    <td th:text="${offer.location}"></td>
                    <td th:text="${offer.minSalary}"></td>
                    <td th:text="${offer.maxSalary}"></td>
                    <td><a th:href="@{${offer.link}}">Link do ogłoszenia</a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>


</body>
</html>