<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Main page</title>
</head>
<body>

<h1>Welcome to Junior Java Developer Job Offer Scraper</h1>

<form method="get" th:action="@{/}">

    <button class="btn btn-primary" type="submit">All offers</button>

</form>

<form method="get" th:action="@{/listOffers}" th:object="${filterParamsDto}">

    <label>
        Name of the city to filter by (or zdalna):
        <input type="text" th:field="*{location}"/>
    </label>
    <label>
        Min salary:
        <input type="number" th:field="*{minSalary}"/>
    </label>
    <label>
        Max Salary:
        <input type="number" th:field="*{maxSalary}"/>
    </label>
    <button class="btn btn-primary" type="submit">Get offers</button>


</form>

<table class="table is-striped is-hoverable" >
    <thead>
    <tr>
        <th>Job Title</th>
        <th>Company</th>
        <th>Location</th>
        <th>Minimum Salary</th>
        <th>Maximum Salary</th>
        <th>Link</th>
    </tr>
    </thead>
    <tfoot>
    <tr th:each="offer: ${offers}">
        <td th:text="${offer.title}"></td>
        <td th:text="${offer.company}"></td>
        <td th:text="${offer.location}"></td>
        <td th:text="${offer.minSalary}"></td>
        <td th:text="${offer.maxSalary}"></td>
        <td> <a th:href="@{${offer.link}}" >Link do ogłoszenia</a> </td>
    </tr>
    </tfoot>
</table>


</body>
</html>